@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #aa57cc;
}
.checker-box{
    background: #fff;
    max-width: 500px;
    padding: 20px 25px 15px;
    border-radius: 7px;
}
header h1 {
    font-size: 27px;
    font-weight: 500;
}
header p{
    margin-top: 5px;
    font-size: 18px;
    color: #272727;
}
.inputs{
    margin:20px 0px 27px;
}
.inputs input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 19px;
    padding: 0px 17px;
    border-radius: 5px;
    border: 1px solid #999;
}
.inputs button{
    width: 100%;
    opacity: 0.7;
    height: 56px;
    outline: none;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
    background: #aa57cc;
}
.inputs button.active{
    opacity: 1;
    pointer-events: auto;
}
.inputs button:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}
.result{
    display:none;
    font-size :19px; 
    text-align: center;
    margin-bottom: 18px;
}
.result span{
    color: #aa57cc;

}